<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Asmoderos | About University</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/pageStyle.css" rel="stylesheet">
    <link href="icon_fonts/css/all_icons.min.css" rel="stylesheet">
    <!-- SPECIFIC CSS -->
    <link href="css/newsStyle.css" rel="stylesheet">

</head>

<body>

<div id="page">

    <header class="header menu_2">
        <!-- /Preload -->
        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div>
        <!-- /Preload -->
        <!-- Top Menu -->
        <div id="logo">
            <a href="indexForStudents">Asmoderos</a>
        </div>

        <nav id="menu" class="main-menu">
            <ul>
                <li><span><a href="courses">Courses</a></span>
                </li>
                <li><span><a href="teachers">Teachers</a></span>
                </li>
                <li><span><a href="about">About University</a></span>
                </li>
                <li><span><a href="news">News</a></span>
                </li>
                <li><span><a  class="my_cabinet">My cabinet</a></span>
                    <ul>
                        <li><a href="myCourses">My courses</a></li>
                        <li><a href="logout" >Log out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Top Menu -->
    </header>
    <section id="hero_in" class="general">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>About University</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <main>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-9 newsList">
                    <div class="bloglist singlepost"  height="900px">

                        <h1 >University today and tomorrow</h1>
                        <p>
                             The Ivan Franko National University of Lviv is a classical institution of higher education with enduring traditions and powerful scientific schools incorporating modern innovative trends.
                            The  University has a special mission: <br><br>

                            •	to define and apply educational and scientific standards;<br>
                            •	to generate changes needed in a region, country or the world;<br>
                            •	to form an individuality – a bearer of intellectual and innovative potential.<br>
                        </p>
                        <p><img src="img/about/img1.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            Lviv university<br><br>
                            We act on the basis of preserving Ukrainian culture and developing national consciousness and identity.<br>
                            The University holds the 4th level of accreditation of the Ministry of Education and Science of Ukraine and trains specialists in licensed programs:<br><br>
                            9 specialities of an educational-proficiency level ‘junior specialist’, <br>
                            49 bachelor’s degree programs, 82 specialities ‘specialist’ <br>
                            87 specialities ‘master’ in 17 branches of knowledge.<br>
                            In 2014-2015 the Ministry of Education and Science of Ukraine licensed 4 ‘young specialist’  fields of study, accredited 7 ‘bachelor’ specialities, <br>
                            3 ‘specialist’ specialities, and 3 ‘master’ specialities. The University trains specialists within 144 ‘specialist’ specialities and 161 ‘master’ specialities.<br>
                            32 new specialities have been opened within the University faculties. We are developing further and offer our future students even a wider choice: in 2015<br>
                            8 specialities within the Faculty of Biology, Geology, Economics and Applied Mathematics and Informatics were submitted to be licensed and accredited.<br>

                        </p>
                        <p><img src="img/about/img2.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            The University’s priority is scientific work. In 2014 the University conducted scientific research in 35 fundamental and 10 applied topics approved by the Ministry of Education and Science of Ukraine, out of these 3 were ordered by the State Agency of Science, Innovations and Informatization of Ukraine, 6 dealt with the preservation of objects which belong to the national heritage of Ukraine, 3 were self-financed projects and 8 Grants of International Funds.<br><br>
                            According to the List of branches of knowledge and specialties, the University has licensed 9 specialties of the “junior specialist”, 73 specialties “Bachelor” for students of the University, one specialty “Bachelor” for students of the Pedagogical College, 66 specialties of the “Specialist” ( the last set was completed in 2016) and 72 specialties of educational degree “Master”. In 2016, four specialties of educational levels “bachelor” and “master” were licensed in connection with the reorganization of Lviv State Academy of Finance by joining to the Ivan Franko National University of Lviv.

                        </p>
                        <p><img src="img/about/img3.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            In 2017-2018, the University holds a set of 9 specialties of the educational qualification level “Junior specialist”, 52 specialties of the educational level “Bachelor” and 55 specialties of the educational level “Master”. Within the educational level “Master” 55 specialties educational activities are conducted for 104 educational-professional programs. In addition, educational activities in the educational and scientific programs of the five specialties, namely: “Law”, “Chemistry”, “Physics”, “Applied Mathematics”, “Finance, Banking, and Insurance ” are conducted on the educational level of the “Master”. <br><br>
                            As of 2017, 19,770 students enrolled at Lviv University, 11,775 of which – at the budget form of training, 4 475 people work, including 2,183 teachers; 161 people work in the research area. The educational process is provided by 200 doctors and 1114 candidates of science, among them there are 194 professors, 811 associate professors. <br><br>
                            Today, as of 2018, 19,614 students are enrolled at the University, including 728 students in colleges. Of the 19,614 students, 10,852 are taught at the expense of the state budget. The educational process at the Ivan Franko National University of Lviv is provided by the teachers of 142 departments at 19 faculties and 15-cycle commissions in three colleges. Accordingly, the University employs 4 849 people, of which 1 886 teachers (women 1451, men 741). There are 1,144 candidates for science, 229 are doctors of sciences, 816 associate professors, and 210 professors. There are 154 people in the research department.<br><br>

                        </p>
                        <p><img src="img/about/img4.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            The University has 142 departments, 99 of them are headed by doctors of sciences, 41 are candidates of sciences. <br><br>
                            The priority direction of the University are activities is scientific work. In 2017, the University conducted scientific research on 77 topics: 56 topics funded by the state budget of Ukraine, among them 24 fundamental themes, 12 applied themes, 1 scientific and technical development, 5 scientific developments of young scientists, 3 topics of the State Fund for Fundamental Research , 2 themes under the state order, 6 themes for the preservation of the objects, which constitute the national heritage of Ukraine, 3 themes under international agreements, as well as 6 contracting topics and 15 international grants. <br><br>
                            An important component of the system of professional training of specialists at the University is the research work of students. In 2017, the students produced 385 scientific articles, in particular, 159 – individual, and theses of 841 reports at conferences. Over 1,000 students participated in the scientific conferences. As of May 2018, 123 students of the University were trained to take part in the 2nd stage of the All-Ukrainian Student Olympiad. 40 students were chosen for participation in the 2nd round of the All-Ukrainian Student Contest on Scientific works on branches of knowledge and specialties.  <br><br>
                            Since 1996, researchers from the University have published 6,203 scientific papers in the publications that are part of the Scopus science-centered database. Leaders are faculties of natural and mathematical direction, primarily in the field of physics and astronomy, materials science, chemistry, mathematics. As of April 2018, according to Hirsch index, the Ivan Franko Lviv National University is ranked third in higher education institutions in Ukraine. Indicators: the number of citations is 32,400, the Hirsch index is 55. <br><br>

                        </p>
                        <p><img src="img/about/img5.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            The University has 142 departments, 99 of them are headed by doctors of sciences, 41 are candidates of sciences.
                            The priority direction of the University are activities is scientific work. In 2017, the University conducted scientific research on 77 topics: 56 topics funded by the state budget of Ukraine, among them 24 fundamental themes, 12 applied themes, 1 scientific and technical development, 5 scientific developments of young scientists, 3 topics of the State Fund for Fundamental Research , 2 themes under the state order, 6 themes for the preservation of the objects, which constitute the national heritage of Ukraine, 3 themes under international agreements, as well as 6 contracting topics and 15 international grants.
                            An important component of the system of professional training of specialists at the University is the research work of students. In 2017, the students produced 385 scientific articles, in particular, 159 – individual, and theses of 841 reports at conferences. Over 1,000 students participated in the scientific conferences. As of May 2018, 123 students of the University were trained to take part in the 2nd stage of the All-Ukrainian Student Olympiad. 40 students were chosen for participation in the 2nd round of the All-Ukrainian Student Contest on Scientific works on branches of knowledge and specialties.
                            Since 1996, researchers from the University have published 6,203 scientific papers in the publications that are part of the Scopus science-centered database. Leaders are faculties of natural and mathematical direction, primarily in the field of physics and astronomy, materials science, chemistry, mathematics. As of April 2018, according to Hirsch index, the Ivan Franko Lviv National University is ranked third in higher education institutions in Ukraine. Indicators: the number of citations is 32,400, the Hirsch index is 55.

                        </p>
                        <p><img src="img/about/img5.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            In 2017, the researchers of the University published 94 monographs, 21 textbooks, 118 textbooks, 3896 articles, among them: in publications that have an impact factor of 262; in other editions, which are included in the scientific base of Scopus – 280; in other foreign publications – 452. <br><br>
                            As of 2018, the researchers of the University published 95 monographs, 21 textbooks, 106 textbooks, 3 785 articles, among them in publications that have an impact factor of 248, in publications that are included in the scientific database Scopus – 368, in other foreign editions – 424. For the most effective developments in 2017, the University received 34 patents of Ukraine, of which 3 – for inventions. As of May 2018, 17 more patents were obtained. <br><br>
                            During the period from January 2017 to May 2018, 96 scientific conferences, seminars, forums were organized and conducted at the University? 38 of which – on the international level.<br><br>
                            At the University, where the main printing structure is the Publishing House during the year 2017, 28 textbooks, 116 textbooks, 101 monographs and 58 issues of university newspapers were published. Since the beginning of 2018, the Publishing House has published 81 editions, in particular: 6 textbooks, 12 textbooks, 12 monographs, 41 Visnyk, 1 collection of scientific works. <br><br>

                        </p>
                        <p><img src="img/about/img6.jpg" alt="" width="300px" height="auto"></p>
                        <p>
                            The University is a founder and publisher of 44 scientific serial publications. Visnyk Universytetu (University bulletin): Biology Series belongs to the list of international professional editionts Web of Science. Journal of Physical Studies is one of 42 journals in Ukraine that belongs to a bibliographic database Scopus. <br><br>
                            We go on in our achievements. In this context it would be topical to switch from quantitative to qualitative indicators: therefore the University defines for itself strategic aims of: <br><br>

                            1.	achieving the highest standards and globalization of scientific research; <br>
                            2.	providing a high quality of educational process;<br>
                            3.	strengthening the role of the University in the society;<br>
                            4.	forming intellectual elite;<br>
                            5.	developing cultural environment;<br>
                            6.	forming and developing individuality and social guidelines of a person;<br>
                            7.	developing youngsters historical consciousness and national identity;<br>
                            8.	increasing innovative capacity, training highly qualified personnel in demand by the  society and state;<br>
                            9.	University brand promotion, forming a unified perception of the University in Ukraine  and abroad;<br>
                            10.	deepening University integration into the world educational and scientific space;<br>
                            11.	modern social, information and communication and production infrastructure.<br><br>


                        </p>
                    </div>
                    <!-- /single-post -->

                </div>
                <!-- /aside -->
            </div>
            <!-- /row -->
        </div>
<!-- /container -->
</main>
<!--/main-->

    <footer>
        <div class="container margin_120_95">
            <div class="row">
                <div class="col-lg-5 col-md-12 p-r-5">
                    <h5>Asmoderos</h5>
                    <p> Something about Asmoderos</p>
                    <p> </p>

                </div>
                <div class="col-lg-3 col-md-6 ml-lg-auto">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a href="courses">Courses</a></li>
                        <li><a href="teachers">Teachers</a></li>
                        <li><a href="about">About University</a></li>
                        <li><a href="news">News</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="register">Register</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="tel://61280932400">Phone: + 123 45 678 9009</a></li>
                        <li><a href="mailto:info@udema.com">Email: info.asmoderos@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <!--/row-->
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <ul id="additional_links">
                        <li><a href="index.html#0">Terms and conditions</a></li>
                        <li><a href="index.html#0">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div id="copy">© 2020 Asmoderos</div>
                </div>
            </div>
        </div>
    </footer>
<!--/footer-->
</div>
<!-- page -->

<!-- COMMON SCRIPTS -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/common_scripts.js"></script>
<script src="js/scripts.js"></script>


</body>
</html>