<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Asmoderos | Course detail</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/pageStyle.css" rel="stylesheet">
	<link href="css/newsStyle.css" rel="stylesheet">
	<link href="icon_fonts/css/all_icons.min.css" rel="stylesheet">


</head>

<body>
	
	<div id="page" class="theia-exception">

		<header class="header menu_2">
			<!-- /Preload -->
			<div id="preloader">
				<div data-loader="circle-side"></div>
			</div>
			<!-- /Preload -->
			<!-- Top Menu -->
			<div id="logo">
				<a href="indexForStudents">Asmoderos</a>
			</div>

			<nav id="menu" class="main-menu">
				<ul>
					<li><span><a href="courses">Courses</a></span>
					</li>
					<li><span><a href="teachers">Teachers</a></span>
					</li>
					<li><span><a href="about">About University</a></span>
					</li>
					<li><span><a href="news">News</a></span>
					</li>
					<li><span><a  class="my_cabinet">My cabinet</a></span>
						<ul>
							<li><a href="myCourses">My courses</a></li>
							<li><a href="logout" >Log out</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- Top Menu -->
		</header>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Asmoderos course</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->
	
	<main>
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-8">
						
						<section id="description">
							<h2>Description</h2>
							<p style="white-space: pre-line" th:text="${course.getDescription()}"></p>

							<hr>
							<!-- /row -->
						</section>
						<!-- /section -->
						
						<section id="lessons">


							<div >
								<iframe width="519" height="289" th:src="'https://www.youtube.com/embed/'+ ${course.getVideo()}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>

							<div class="intro_title">
								<h2>Lessons</h2>
							</div>
							<div id="accordion_lessons" role="tablist" class="add_bottom_45">
								<div class="card">
									<div class="card-header" role="tab" id="headingOne" th:each="courList: ${courselist}" >
										<h5 class="mb-0">

										Lesson <a th:href="'img/Courses/' + ${courList}" download th:text="${courList}"> </a>

										</h5>
									</div>
								</div>
								<!-- /card -->
							</div>
							<!-- /accordion -->
						</section>
						<!-- /section -->
						

						<!-- /section -->
					</div>
					<!-- /col -->
					
					<aside class="col-lg-4" id="sidebar">
						<div class="box_detail">
							<figure>
								<img th:src="'img/Courses/' + ${course.getImage()}" alt="" class="img-fluid">
							</figure>
							<a  th:onclick="'document.getElementById(\'formForCoursePost' + ${course.getId()} + '\').submit(); return false;'" class="btn_1 bb2 rounded add_top_30">Subscribe</a>
							<form th:id="'formForCoursePost' + ${course.getId()}"
								  th:action="@{/subscribe(id=${course.getId()})}" method="POST">
							</form>
						</div>
					</aside>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->

		<footer>
			<div class="container margin_120_95">
				<div class="row">
					<div class="col-lg-5 col-md-12 p-r-5">
						<h5>Asmoderos</h5>
						<p> Something about Asmoderos</p>
						<p> </p>

					</div>
					<div class="col-lg-3 col-md-6 ml-lg-auto">
						<h5>Useful links</h5>
						<ul class="links">
							<li><a href="courses">Courses</a></li>
							<li><a href="teachers">Teachers</a></li>
							<li><a href="about">About University</a></li>
							<li><a href="news">News</a></li>
							<li><a href="login">Login</a></li>
							<li><a href="register">Register</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6">
						<h5>Contact with Us</h5>
						<ul class="contacts">
							<li><a href="tel://61280932400">Phone: + 123 45 678 9009</a></li>
							<li><a href="mailto:info@udema.com">Email: info.asmoderos@gmail.com</a></li>
						</ul>
					</div>
				</div>
				<!--/row-->
				<hr>
				<div class="row">
					<div class="col-md-8">
						<ul id="additional_links">
							<li><a href="index.html#0">Terms and conditions</a></li>
							<li><a href="index.html#0">Privacy</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<div id="copy">© 2020 Asmoderos</div>
					</div>
				</div>
			</div>
		</footer>
	<!--/footer-->
	</div>
	<!-- page -->
	
	<!-- COMMON SCRIPTS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/common_scripts.js"></script>
    <script src="js/scripts.js"></script>

  
</body>
</html>