<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Asmoderos | Teachers</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/pageStyle.css" rel="stylesheet">
    <link href="icon_fonts/css/all_icons.min.css" rel="stylesheet">
    <!-- SPECIFIC CSS -->
    <link href="css/newsStyle.css" rel="stylesheet">

</head>

<body>

<div id="page">

    <header class="header menu_2">
        <!-- /Preload -->
        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div>
        <!-- /Preload -->
        <!-- Top Menu -->
        <div id="logo">
            <a href="indexForStudents">Asmoderos</a>
        </div>

        <nav id="menu" class="main-menu">
            <ul>
                <li><span><a href="courses">Courses</a></span>
                </li>
                <li><span><a href="teachers">Teachers</a></span>
                </li>
                <li><span><a href="about">About University</a></span>
                </li>
                <li><span><a href="news">News</a></span>
                </li>
                <li><span><a  class="my_cabinet">My cabinet</a></span>
                    <ul>
                        <li><a href="myCourses">My courses</a></li>
                        <li><a href="logout" >Log out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Top Menu -->
    </header>
    <section id="hero_in" class="general">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Asmoderos teachers</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <main>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-9 newsList">
                    <div class="bloglist singlepost" height="900px">
                        <p><img src="img/teachers/img1.jpg" alt="" width="150px" height="auto"></p>
                        <p>
                        <h3>Angelina Vasylivna Brochko</h3><br><br>
                        <b>Position:</b> Associate Dean, Faculty of Foreign Languages for Research, Associate Professor,
                        Classical Philology Department<br>
                        <b>Scientific degree:</b> Candidate of Philological Sciences<br>
                        <b>Academic status:</b> Associate Professor<br><br>

                        Substantiation of adjectives in German Language.<br>
                        Functional-semantic description of lexical units of Latin and old Greek Languages. <br>
                        Contrastive analysis of Old and Modern Greek Languages.<br>
                        Optimization of teaching technologies, education and assessment of students in the classical
                        languages teaching process.<br>

                        </p>
                        <!-- /post -->
                        <hr size="4">
                        <p><img src="img/teachers/img2.jpg" alt="" width="150px" height="auto"></p>
                        <p>
                        <h3>Alexandr Petrovych Kushnir</h3><br><br>
                        <b>Position:</b> Associate Dean, Faculty of Foreign Languages of educational and methodical work, Associate Professor, Classical Philology Department<br>
                        <b>Scientific degree:</b> Candidate of Philological Sciences<br>
                        <b>Academic status:</b> Associate Professor<br><br>

                        History of Antique Language Study Theories. The research of the processes of evolution of the Notional-Therminilogical System of Old Greek Morphology.<br>

                        </p>
                        <!-- /post -->
                        <hr size="4">

                        <p><img src="img/teachers/img3.jpg" alt="" width="150px" height="auto"></p>
                        <p>
                        <h3>Olga Petrivna Zabudko</h3><br><br>
                        <b>Position:</b> Associate Professor, English Philology Department<br>
                        <b>Scientific degree:</b> Candidate of Philological Sciences<br>
                        <b>Academic status:</b> Associate Professor<br><br>

                        • Applied Linguistics / SLA / TEFL<br>
                        • Poetic text analysis<br>
                        Teaching experience<br>
                        • Methodology of Teaching English as a Foreign Language<br>
                        • Academic Writing<br>
                        • TOEFL<br>


                        </p>
                        <!-- /post -->
                        <hr size="4">
                        <p><img src="img/teachers/img4.jpg" alt="" width="150px" height="auto"></p>
                        <p>
                        <h3>Olena Nazariivna Lebid</h3><br><br>
                        <b>Position:</b> Associate Professor, English Philology Department<br>
                        <b>Scientific degree:</b> Candidate of Philological Sciences<br>
                        <b>Academic status:</b> Associate Professor<br><br>

                        • History of English <br>
                        • Theoretical grammar<br>
                        • Comparative linguistics<br>
                        • Theory and practice of translation<br>


                        </p>
                        <!-- /post -->

                    <!-- /single-post -->

                </div>
                <!-- /aside -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <footer>
        <div class="container margin_120_95">
            <div class="row">
                <div class="col-lg-5 col-md-12 p-r-5">
                    <h5>Asmoderos</h5>
                    <p> Something about Asmoderos</p>
                    <p></p>

                </div>
                <div class="col-lg-3 col-md-6 ml-lg-auto">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a href="courses">Courses</a></li>
                        <li><a href="teachers">Teachers</a></li>
                        <li><a href="about">About University</a></li>
                        <li><a href="news">News</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="register">Register</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="tel://61280932400">Phone: + 123 45 678 9009</a></li>
                        <li><a href="mailto:info@udema.com">Email: info.asmoderos@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <!--/row-->
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <ul id="additional_links">
                        <li><a href="index.html#0">Terms and conditions</a></li>
                        <li><a href="index.html#0">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div id="copy">© 2020 Asmoderos</div>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>
<!-- page -->

<!-- COMMON SCRIPTS -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/common_scripts.js"></script>
<script src="js/scripts.js"></script>


</body>
</html>