<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Asmoderos | Home Page</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
	<!-- CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="icon_fonts/css/all_icons.min.css" rel="stylesheet">
	<link href="css/pageStyle.css" rel="stylesheet">
</head>

<body>

<div id="page">

	<header class="header menu_2">
		<!-- /Preload -->
		<div id="preloader">
			<div data-loader="circle-side"></div>
		</div>
		<!-- /Preload -->
		<!-- Top Menu -->
		<div id="logo">
			<a href="index"><img src="img/logo.png" height="40" width="150"></a>
		</div>
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href="courses">Courses</a></span>
				</li>
				<li><span><a href="teachers">Teachers</a></span>
				</li>
				<li><span><a href="about">About University</a></span>
				</li>
				<li><span><a href="news">News</a></span>
				</li>
				<li><span><a  class="my_cabinet">My cabinet</a></span>
					<ul>
						<li><a href="myCourses">My courses</a></li>
						<li><a href="logout" >Log out</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- Top Menu -->
	</header>


	<main>
		<!-- First section -->
		<section class="hero_single">
			<div class="wrapper">
				<div class="container">
					<h3>Top courses<br>on Asmoderos</h3>
				</div>
				<a href="#first_section" class="btn_explore hidden_tablet">
					<i class="arrow_carrot-down" style="position: absolute;left: -8px;top: 3px;"></i>
				</a>
			</div>
		</section>
		<!-- /First section -->


		<!-- /Categories -->

		<!-- News -->
		<div class="bg_color_1" >
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>News and Events</h2>
					<p></p>
				</div>
				<div class="row" >
					<div class="col-lg-6" th:each="news, stats : ${newsList}" th:if="${stats.index}<4">
						<a class="box_news"  th:href="@{/post(param1= ${news.getId()})}">
							<figure><img th:src="'img/News/' + ${news.getImage()}" alt="">
								<figcaption><strong>28</strong>Dec</figcaption>
							</figure>
							<ul>
								<li th:value="${news.getAuthor()}" th:text="${news.getAuthor()}"></li>
								<li th:value="${news.getDate()}" th:text="${news.getDate()}"></li>
							</ul>
							<h4 th:value="${news.getTitle()}" th:text="${news.getTitle()}"></h4>
							<p class="indexTextNews" th:value="${news.getText()}" th:text="${news.getText()}"></p>
						</a>
					</div>
					<!-- /box_news -->
				</div>

			</div>
			<!-- /News -->
			<!-- Call Section -->
			<div class="call_section">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
						<div class="block-reveal block">
							<div class="block-vertical"></div>
							<div class="box_1">
								<h3>Enjoy a great students community</h3>
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500siLorem
									Ipsum
									has been the industry's standard dummy text ever since the 1500s. </p>
								<a href="about" class="btn_1 rounded">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Call Section -->
		</div>
	</main>

	<footer>
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<h5>Asmoderos</h5>
					<p> Something about Asmoderos</p>
					<p> </p>

				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="courses">Courses</a></li>
						<li><a href="teachers">Teachers</a></li>
						<li><a href="about">About University</a></li>
						<li><a href="news">News</a></li>
						<li><a href="login">Login</a></li>
						<li><a href="register">Register</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400">Phone: + 123 45 678 9009</a></li>
						<li><a href="mailto:info@udema.com">Email: info.asmoderos@gmail.com</a></li>
					</ul>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="index.html#0">Terms and conditions</a></li>
						<li><a href="index.html#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2020 Asmoderos</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
</div>
<!-- page -->

<!-- COMMON SCRIPTS -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/common_scripts.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>